Entrepreneur Arena
{
  "name": "Entrepreneur Arena",
  "nodes": [
    {
      "parameters": {},
      "id": "0859eefb-e182-4c9f-91cd-8400db83fcf8",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -256,
        320
      ]
    },
    {
      "parameters": {
        "jsCode": "const runSeed = String($execution.id);\nconst teamAWorkflowId = $env.TEAM_A_WORKFLOW_ID || '44q3twpOWG797oot';\nconst teamBWorkflowId = $env.TEAM_B_WORKFLOW_ID || 'pCH3ejBs3Yh2AvSq';\nconst constraints = { maxBuildMonths: 6, maxBudgetUsd: 25000, avoidTwoSidedColdStart: true };\nconst rubric = { market: 25, originality: 20, feasibility: 20, differentiation: 20, distribution: 15 };\nconst confidenceThreshold = 70;\nconst personaPool = [\n  { id: 'steve_jobs', kind: 'named', displayName: 'Steve Jobs', decisionRules: ['Design-led wedge','Own core moment'], favoredBets: ['Category UX shifts'], blindSpots: ['Ops depth'], antiPatterns: ['Feature bloat'], killerQuestions: ['What is magical?'] },\n  { id: 'bill_gates', kind: 'named', displayName: 'Bill Gates', decisionRules: ['Platform leverage','Distribution matters'], favoredBets: ['Developer ecosystems'], blindSpots: ['Consumer emotion'], antiPatterns: ['No platform path'], killerQuestions: ['Where is compounding moat?'] },\n  { id: 'sara_blakely', kind: 'named', displayName: 'Sara Blakely', decisionRules: ['Pain must be visceral'], favoredBets: ['Underserved segments'], blindSpots: ['Deep-tech optimism'], antiPatterns: ['Generic messaging'], killerQuestions: ['Why will users talk about it?'] },\n  { id: 'elon_musk', kind: 'named', displayName: 'Elon Musk', decisionRules: ['First-principles cuts'], favoredBets: ['Hard bottlenecks'], blindSpots: ['Near-term GTM'], antiPatterns: ['Incremental only'], killerQuestions: ['What is 10x better?'] },\n  { id: 'visionary_arch', kind: 'archetype', displayName: 'Visionary Architect', decisionRules: ['Backcast from future'], favoredBets: ['Category creation'], blindSpots: ['Execution detail'], antiPatterns: ['Me-too ideas'], killerQuestions: ['Why now?'] },\n  { id: 'operator_arch', kind: 'archetype', displayName: 'Operator', decisionRules: ['Execution friction first'], favoredBets: ['Channel wedges'], blindSpots: ['Moonshots'], antiPatterns: ['No channel plan'], killerQuestions: ['How do first 100 customers arrive?'] },\n  { id: 'systems_arch', kind: 'archetype', displayName: 'Systems Thinker', decisionRules: ['Map dependencies'], favoredBets: ['Workflow infrastructure'], blindSpots: ['Brand pull'], antiPatterns: ['Point tools'], killerQuestions: ['What compounds?'] },\n  { id: 'deal_maker_arch', kind: 'archetype', displayName: 'Deal Maker', decisionRules: ['Partnership leverage'], favoredBets: ['Ecosystem plays'], blindSpots: ['Deep product craft'], antiPatterns: ['Go-it-alone channels'], killerQuestions: ['Who distributes this?'] }\n];\nfunction hash(str) { let h = 2166136261; for (let i = 0; i < str.length; i++) { h ^= str.charCodeAt(i); h = Math.imul(h, 16777619); } return (h >>> 0); }\nfunction sortBySeed(arr, salt) { return [...arr].sort((a,b) => hash(runSeed + salt + a.id) - hash(runSeed + salt + b.id)); }\nconst named = sortBySeed(personaPool.filter(p => p.kind === 'named'), 'named');\nconst arch = sortBySeed(personaPool.filter(p => p.kind === 'archetype'), 'arch');\nreturn [{ json: {\n  runId: $execution.id,\n  runAt: new Date().toISOString(),\n  runSeed,\n  constraints,\n  rubric,\n  confidenceThreshold,\n  personaPoolVersion: 'v2.1',\n  teamConfigs: {\n    A: { teamWorkflowId: teamAWorkflowId, teamStrategy: 'inventor_lab', assignedPersonas: [named[0], arch[0]] },\n    B: { teamWorkflowId: teamBWorkflowId, teamStrategy: 'operator_forge', assignedPersonas: [named[1], arch[1]] }\n  }\n}}];"
      },
      "id": "66dd2d76-000e-4619-932a-bd98fbfb67b8",
      "name": "Set Arena Config",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -32,
        320
      ]
    },
    {
      "parameters": {
        "workflowId": "={{ $json.teamWorkflowId }}",
        "options": {}
      },
      "id": "6c393d5d-93ab-4fc9-a887-7a2d76e545d9",
      "name": "Execute Team A Runner",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        448,
        224
      ]
    },
    {
      "parameters": {
        "workflowId": "={{ $json.teamWorkflowId }}",
        "options": {}
      },
      "id": "d2f00f1a-f1d8-45e5-b265-5135d1b283b1",
      "name": "Execute Team B Runner",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        448,
        416
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an impartial arena judge.\nScore Team A and Team B with rubric totals out of 100.\nReturn ONLY JSON with fields:\nteamAScore, teamBScore,\nteamARubric { market, originality, feasibility, differentiation, distribution },\nteamBRubric { market, originality, feasibility, differentiation, distribution },\njustification,\ndecisionRiskFlags (array).\nTeam A Packet: {{ JSON.stringify($input.all()[0].json) }}\nTeam B Packet: {{ JSON.stringify($input.all()[1].json) }}"
      },
      "id": "583e2eae-af46-471a-af5e-7f5d819f857d",
      "name": "Arena Judge (LLM)",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.6,
      "position": [
        640,
        320
      ]
    },
    {
      "parameters": {
        "model": "qwen/qwen3-235b-a22b-thinking-2507",
        "options": {}
      },
      "id": "a73e126d-26b6-4c80-b7a4-1c67fe58e485",
      "name": "ArenaJudge — OpenRouter Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        720,
        544
      ],
      "credentials": {
        "openRouterApi": {
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Convert this decision payload into an executive summary.\nIf decisionStatus is not WINNER_SELECTED, summarize why no winner was chosen and list next steps.\nReturn ONLY JSON fields: headline, executiveSummary, keyStrengths (array), nextSteps (array).\nDecision payload: {{ JSON.stringify($json) }}"
      },
      "id": "7295f8ef-0144-4f76-977d-e6db1584c2a6",
      "name": "Winner Packager",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.6,
      "position": [
        992,
        320
      ]
    },
    {
      "parameters": {
        "model": "arcee-ai/trinity-large-preview:free",
        "options": {}
      },
      "id": "64eea5be-afe0-4777-94d2-4fae8ce8254f",
      "name": "WinnerPackager — OpenRouter Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1072,
        544
      ],
      "credentials": {
        "openRouterApi": {
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "console.log('[' + new Date().toISOString() + '] Entrepreneur Arena completed.');\nconsole.log('Decision status:', items[0]?.json?.decisionStatus);\nconsole.log('Winner:', items[0]?.json?.winner || 'NONE');\nconsole.log('Scores - A:', items[0]?.json?.teamAScore, '| B:', items[0]?.json?.teamBScore);\nconsole.log('Confidence - A:', items[0]?.json?.teamAConfidence, '| B:', items[0]?.json?.teamBConfidence);\nreturn items;"
      },
      "id": "cd9d77e5-169f-4c68-8935-942c46ed3fc7",
      "name": "Log Success",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1792,
        320
      ]
    },
    {
      "parameters": {},
      "id": "9bfa15af-29f4-4d6f-a0cb-be9cca712acb",
      "name": "Workflow Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        -256,
        656
      ]
    },
    {
      "parameters": {
        "jsCode": "const errData = items[0]?.json || {};\nconst err = errData.error || {};\nconst node = errData.node || 'unknown';\nconst ts = new Date().toISOString();\nconsole.error(`[${node} | ${ts}] Workflow Error:\\n  Message: ${err.message || 'No message'}\\n  Code: ${err.code || ''}\\n  Stack: ${err.stack || ''}\\n  Full: ${JSON.stringify(err, null, 2)}`);\nreturn items;"
      },
      "id": "6a90056d-dcb1-43d4-bf02-0351feabc94a",
      "name": "Log Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -32,
        656
      ]
    },
    {
      "parameters": {},
      "id": "66e8c6e3-f716-4590-b516-9db62f853f92",
      "name": "Merge Team Packets1",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        416,
        320
      ]
    },
    {
      "parameters": {
        "jsCode": "const raw = items[0]?.json?.output || items[0]?.json?.text || '';\nconst tryParse = (v) => { try { return JSON.parse(v); } catch { return null; } };\nlet p = tryParse(raw);\nif (!p) {\n  const a = String(raw).indexOf('{'); const b = String(raw).lastIndexOf('}');\n  if (a >= 0 && b > a) p = tryParse(String(raw).slice(a, b + 1));\n}\nif (!p || typeof p !== 'object') throw new Error('Winner Packager parse failed.');\nconst verdict = $('Parse & Gate Verdict1').first().json || {};\nconst win = verdict.winningPacket || {};\nconst team = verdict.winner || '';\nconst rubric = team === 'A' ? verdict.teamARubric || {} : team === 'B' ? verdict.teamBRubric || {} : {};\nconst ks = Array.isArray(p.keyStrengths) ? p.keyStrengths.join(' | ') : '';\nconst ns = Array.isArray(p.nextSteps) ? p.nextSteps.join(' | ') : '';\nreturn [{ json: {\n  runId: verdict.runId || $execution.id,\n  runAt: verdict.runAt || new Date().toISOString(),\n  winner: team,\n  decisionStatus: verdict.decisionStatus || 'INVALID_VERDICT',\n  tieBreakTrace: verdict.tieBreakTrace || '',\n  confidenceGateReason: verdict.confidenceGateReason || '',\n  teamAConfidence: verdict.teamAConfidence || 0,\n  teamBConfidence: verdict.teamBConfidence || 0,\n  headline: p.headline || '',\n  executiveSummary: p.executiveSummary || '',\n  keyStrengths: ks,\n  nextSteps: ns,\n  justification: verdict.justification || '',\n  decisionRiskFlags: JSON.stringify(verdict.decisionRiskFlags || []),\n  teamAScore: verdict.teamAScore || 0,\n  teamBScore: verdict.teamBScore || 0,\n  conceptName: win.name || '',\n  name: win.name || '',\n  oneLiner: win.oneLiner || '',\n  targetCustomer: win.targetCustomer || '',\n  problem: win.problem || '',\n  solution: win.solution || '',\n  revenueModel: win.revenueModel || '',\n  goToMarket: win.goToMarket || '',\n  unfairAdvantage: win.unfairAdvantage || '',\n  keyRisks: win.keyRisks || '',\n  mutationApplied: win.mutationApplied || '',\n  teamStrategy: win.teamStrategy || '',\n  personaSet: win.personaSet || '',\n  personaRationale: win.personaRationale || '',\n  signalTheses: win.signalTheses || '',\n  noveltyScore: Number(win.noveltyScore || 0),\n  confidenceScore: Number(win.confidenceScore || 0),\n  horizonBucket: win.horizonBucket || '',\n  evidenceCoverage: Number(win.evidenceCoverage || 0),\n  overallStrength: win.overallStrength || 0,\n  market: Number(rubric.market || 0),\n  originality: Number(rubric.originality || 0),\n  feasibility: Number(rubric.feasibility || 0),\n  differentiation: Number(rubric.differentiation || 0),\n  distribution: Number(rubric.distribution || 0),\n  summary: win.summary || '',\n  vcQA: win.vcQA || '',\n  vcResponses: win.vcResponses || ''\n}}];"
      },
      "id": "9c7a1f1a-5da9-4c3d-9eeb-3faaad71d4e3",
      "name": "Prep Winners Row1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1344,
        320
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1Fq0fHdH8qL57jwSK_H7oKcaKg_XsUF2x0lvceiv60GA",
          "mode": "list",
          "cachedResultName": "IdeaRepo",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Fq0fHdH8qL57jwSK_H7oKcaKg_XsUF2x0lvceiv60GA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 704193225,
          "mode": "list",
          "cachedResultName": "Winners",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Fq0fHdH8qL57jwSK_H7oKcaKg_XsUF2x0lvceiv60GA/edit#gid=704193225"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "runId",
              "displayName": "runId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "runAt",
              "displayName": "runAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "oneLiner",
              "displayName": "oneLiner",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "targetCustomer",
              "displayName": "targetCustomer",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "problem",
              "displayName": "problem",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "solution",
              "displayName": "solution",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "revenueModel",
              "displayName": "revenueModel",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "goToMarket",
              "displayName": "goToMarket",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "unfairAdvantage",
              "displayName": "unfairAdvantage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "keyRisks",
              "displayName": "keyRisks",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "mutationApplied",
              "displayName": "mutationApplied",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "overallStrength",
              "displayName": "overallStrength",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "originality",
              "displayName": "originality",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "market",
              "displayName": "market",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "differentiation",
              "displayName": "differentiation",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "feasibility",
              "displayName": "feasibility",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "summary",
              "displayName": "summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "rubricScores",
              "displayName": "rubricScores",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "vcQA",
              "displayName": "vcQA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "vcResponses",
              "displayName": "vcResponses",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "winner",
              "displayName": "winner",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "headline",
              "displayName": "headline",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "executiveSummary",
              "displayName": "executiveSummary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "keyStrengths",
              "displayName": "keyStrengths",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "nextSteps",
              "displayName": "nextSteps",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "justification",
              "displayName": "justification",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "teamAScore",
              "displayName": "teamAScore",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "teamBScore",
              "displayName": "teamBScore",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "conceptName",
              "displayName": "conceptName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "distribution",
              "displayName": "distribution",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "decisionStatus",
              "displayName": "decisionStatus",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "tieBreakTrace",
              "displayName": "tieBreakTrace",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "confidenceGateReason",
              "displayName": "confidenceGateReason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "teamAConfidence",
              "displayName": "teamAConfidence",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "teamBConfidence",
              "displayName": "teamBConfidence",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "teamStrategy",
              "displayName": "teamStrategy",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "personaSet",
              "displayName": "personaSet",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "personaRationale",
              "displayName": "personaRationale",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "signalTheses",
              "displayName": "signalTheses",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "noveltyScore",
              "displayName": "noveltyScore",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "confidenceScore",
              "displayName": "confidenceScore",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "horizonBucket",
              "displayName": "horizonBucket",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "evidenceCoverage",
              "displayName": "evidenceCoverage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "decisionRiskFlags",
              "displayName": "decisionRiskFlags",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "a320821c-9754-4dbe-8269-9e2827c94eec",
      "name": "Write to Winners1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1568,
        320
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const cfg = $input.first().json || {};\nconst t = cfg.teamConfigs?.A || {};\nreturn [{ json: {\n  runId: cfg.runId,\n  runAt: cfg.runAt,\n  runSeed: cfg.runSeed,\n  constraints: cfg.constraints,\n  rubric: cfg.rubric,\n  confidenceThreshold: cfg.confidenceThreshold,\n  personaPoolVersion: cfg.personaPoolVersion,\n  teamLabel: 'A',\n  teamStrategy: t.teamStrategy || 'inventor_lab',\n  assignedPersonas: t.assignedPersonas || [],\n  teamWorkflowId: t.teamWorkflowId || ''\n}}];"
      },
      "id": "4e6f900e-d5e1-46d9-a3f8-bf4d95afeb3c",
      "name": "Prepare Team A Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        192,
        224
      ]
    },
    {
      "parameters": {
        "jsCode": "const cfg = $input.first().json || {};\nconst t = cfg.teamConfigs?.B || {};\nreturn [{ json: {\n  runId: cfg.runId,\n  runAt: cfg.runAt,\n  runSeed: cfg.runSeed,\n  constraints: cfg.constraints,\n  rubric: cfg.rubric,\n  confidenceThreshold: cfg.confidenceThreshold,\n  personaPoolVersion: cfg.personaPoolVersion,\n  teamLabel: 'B',\n  teamStrategy: t.teamStrategy || 'operator_forge',\n  assignedPersonas: t.assignedPersonas || [],\n  teamWorkflowId: t.teamWorkflowId || ''\n}}];"
      },
      "id": "5c9bf5c8-2f8f-4d3f-8d5b-6da6a4b6a35e",
      "name": "Prepare Team B Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        192,
        416
      ]
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.output || $input.first().json.text || '';\nconst tryParse = (v) => { try { return JSON.parse(v); } catch { return null; } };\nlet j = tryParse(raw);\nif (!j) {\n  const a = String(raw).indexOf('{'); const b = String(raw).lastIndexOf('}');\n  if (a >= 0 && b > a) j = tryParse(String(raw).slice(a, b + 1));\n}\nif (!j || typeof j !== 'object') throw new Error('Arena judge parse failed; stopping run.');\nconst num = (v) => Number.isFinite(Number(v)) ? Number(v) : 0;\nconst teamAScore = num(j.teamAScore);\nconst teamBScore = num(j.teamBScore);\nconst teamARubric = j.teamARubric || {};\nconst teamBRubric = j.teamBRubric || {};\nconst m = $('Merge Team Packets1').all();\nif (m.length < 2) throw new Error('Missing team packets from merge.');\nconst aPkt = m[0]?.json || {};\nconst bPkt = m[1]?.json || {};\nconst threshold = num($('Set Arena Config').first().json.confidenceThreshold || 70);\nconst aConf = num(aPkt.confidenceScore);\nconst bConf = num(bPkt.confidenceScore);\nlet winner = '';\nlet tieBreakTrace = '';\nif (teamAScore > teamBScore) winner = 'A';\nif (teamBScore > teamAScore) winner = 'B';\nif (!winner) {\n  const dims = ['feasibility','originality','distribution','market'];\n  for (const d of dims) {\n    const av = num(teamARubric[d]);\n    const bv = num(teamBRubric[d]);\n    if (av === bv) continue;\n    winner = av > bv ? 'A' : 'B';\n    tieBreakTrace = d + ':' + av + '-' + bv;\n    break;\n  }\n  if (!winner) {\n    if (aConf !== bConf) {\n      winner = aConf > bConf ? 'A' : 'B';\n      tieBreakTrace = (tieBreakTrace ? tieBreakTrace + '|' : '') + 'confidence:' + aConf + '-' + bConf;\n    } else {\n      winner = 'A';\n      tieBreakTrace = (tieBreakTrace ? tieBreakTrace + '|' : '') + 'stable_default:A';\n    }\n  }\n}\nlet decisionStatus = 'WINNER_SELECTED';\nlet confidenceGateReason = '';\nif (aConf < threshold && bConf < threshold) {\n  decisionStatus = 'NO_WINNER_LOW_CONFIDENCE';\n  winner = '';\n  confidenceGateReason = 'Both teams below confidence threshold ' + threshold;\n} else if (winner === 'A' && aConf < threshold && bConf >= threshold) {\n  winner = 'B';\n  confidenceGateReason = 'Team A below threshold; winner overridden to Team B';\n  tieBreakTrace = (tieBreakTrace ? tieBreakTrace + '|' : '') + 'confidence_override:B';\n} else if (winner === 'B' && bConf < threshold && aConf >= threshold) {\n  winner = 'A';\n  confidenceGateReason = 'Team B below threshold; winner overridden to Team A';\n  tieBreakTrace = (tieBreakTrace ? tieBreakTrace + '|' : '') + 'confidence_override:A';\n}\nconst winningPacket = winner === 'A' ? aPkt : winner === 'B' ? bPkt : {};\nreturn [{ json: {\n  runId: $execution.id,\n  runAt: new Date().toISOString(),\n  decisionStatus,\n  winner,\n  tieBreakTrace,\n  confidenceGateReason,\n  teamAScore,\n  teamBScore,\n  teamARubric,\n  teamBRubric,\n  teamAConfidence: aConf,\n  teamBConfidence: bConf,\n  justification: j.justification || '',\n  decisionRiskFlags: Array.isArray(j.decisionRiskFlags) ? j.decisionRiskFlags : [],\n  winningPacket\n}}];"
      },
      "id": "41f5b2fa-2850-4e1f-a42c-3ce1ab35fd95",
      "name": "Parse & Gate Verdict1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        864,
        320
      ]
    }
  ],
  "pinData": {
    "Manual Trigger": [
      {
        "json": {},
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Set Arena Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Arena Config": {
      "main": [
        [
          {
            "node": "Prepare Team A Context",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prepare Team B Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Team A Runner": {
      "main": [
        [
          {
            "node": "Merge Team Packets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Team B Runner": {
      "main": [
        [
          {
            "node": "Merge Team Packets1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "ArenaJudge — OpenRouter Model": {
      "ai_languageModel": [
        [
          {
            "node": "Arena Judge (LLM)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Arena Judge (LLM)": {
      "main": [
        [
          {
            "node": "Parse & Gate Verdict1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WinnerPackager — OpenRouter Model": {
      "ai_languageModel": [
        [
          {
            "node": "Winner Packager",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Winner Packager": {
      "main": [
        [
          {
            "node": "Prep Winners Row1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Error Trigger": {
      "main": [
        [
          {
            "node": "Log Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Team Packets1": {
      "main": [
        [
          {
            "node": "Arena Judge (LLM)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Winners Row1": {
      "main": [
        [
          {
            "node": "Write to Winners1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write to Winners1": {
      "main": [
        [
          {
            "node": "Log Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Team A Context": {
      "main": [
        [
          {
            "node": "Execute Team A Runner",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Team B Context": {
      "main": [
        [
          {
            "node": "Execute Team B Runner",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse & Gate Verdict1": {
      "main": [
        [
          {
            "node": "Winner Packager",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "deb7c032-1862-474e-b776-71d83f41d59f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d1ad3f4f440ce23f8275e30c2127c8c2fe97bf83a4534f480ec0c7a54495b806"
  },
  "id": "x96e3dUW0jdFNbyD",
  "tags": []
}
