Team B
{
  "name": "Team B",
  "nodes": [
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1Fq0fHdH8qL57jwSK_H7oKcaKg_XsUF2x0lvceiv60GA",
          "mode": "list",
          "cachedResultName": "IdeaRepo",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Fq0fHdH8qL57jwSK_H7oKcaKg_XsUF2x0lvceiv60GA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Idea Bank",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Fq0fHdH8qL57jwSK_H7oKcaKg_XsUF2x0lvceiv60GA/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "normalizedKey"
            }
          ]
        },
        "options": {}
      },
      "id": "2263174c-9a1f-4bb9-b06f-d4749a0d3da8",
      "name": "Read Idea Bank Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        -624,
        -1632
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "qyPt3FUHxVuvnsiP",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ── Shape one row per deduplicated idea for Google Sheets append ──────────────\nconst ideas = $('Dedupe & Normalize Ideas1').first().json.ideas || [];\nconst runId = $execution.id;\nconst addedAt = new Date().toISOString();\n\nif (ideas.length === 0) {\n  // Return a no-op item so the workflow doesn't stall\n  return [{ json: { skipped: true, reason: 'No new ideas to write' } }];\n}\n\nreturn ideas.map(idea => ({\n  json: {\n    normalizedKey: idea.normalizedKey,\n    oneLiner: idea.oneLiner,\n    addedAt,\n    runId,\n  }\n}));"
      },
      "id": "842879f4-b98f-42c1-b685-6422107de8fb",
      "name": "Prep Idea Bank Rows",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        -1632
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1Fq0fHdH8qL57jwSK_H7oKcaKg_XsUF2x0lvceiv60GA",
          "mode": "list",
          "cachedResultName": "IdeaRepo",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Fq0fHdH8qL57jwSK_H7oKcaKg_XsUF2x0lvceiv60GA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Idea Bank",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Fq0fHdH8qL57jwSK_H7oKcaKg_XsUF2x0lvceiv60GA/edit#gid=0"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "normalizedKey",
              "displayName": "normalizedKey",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "oneLiner",
              "displayName": "oneLiner",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "addedAt",
              "displayName": "addedAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "runId",
              "displayName": "runId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "1dc3fbc7-a166-4d7b-b496-32edb54695e0",
      "name": "Write to Idea Bank",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1424,
        -1632
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "qyPt3FUHxVuvnsiP",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ── Parse the Finalize Packet output ─────────────────────────────────────────\nconst raw = items[0]?.json?.output || items[0]?.json?.text || '';\n\nlet packet = {};\ntry {\n  const match = raw.match(/\\{[\\s\\S]*\\}/);\n  if (match) packet = JSON.parse(match[0]);\n} catch(e) {}\n\nconst concept = packet.concept || {};\nconst rubric = packet.rubricScores || {};\nconst mutationApplied = $('Draw Mutation1').first().json.mutation || '';\n\nreturn [{\n  json: {\n    runId: $execution.id,\n    runAt: new Date().toISOString(),\n    name: concept.name || '',\n    oneLiner: concept.oneLiner || '',\n    targetCustomer: concept.targetCustomer || '',\n    problem: concept.problem || '',\n    solution: concept.solution || '',\n    revenueModel: concept.revenueModel || '',\n    goToMarket: concept.goToMarket || '',\n    unfairAdvantage: concept.unfairAdvantage || '',\n    keyRisks: concept.keyRisks || '',\n    mutationApplied,\n    overallStrength: packet.overallStrength || 0,\n    market: rubric.market || 0,\n    originality: rubric.originality || 0,\n    feasibility: rubric.feasibility || 0,\n    differentiation: rubric.differentiation || 0,\n    goToMarketScore: rubric.distribution || 0,\n    summary: packet.summary || '',\n    vcQA: packet.vcQA || [],\n    vcResponses: packet.vcResponses || []\n  }\n}];"
      },
      "id": "856fc21a-15c9-40b4-900d-79e5be81547b",
      "name": "Prep Final Concept Row",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5488,
        -1632
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1Fq0fHdH8qL57jwSK_H7oKcaKg_XsUF2x0lvceiv60GA",
          "mode": "list",
          "cachedResultName": "IdeaRepo",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Fq0fHdH8qL57jwSK_H7oKcaKg_XsUF2x0lvceiv60GA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1149670085,
          "mode": "list",
          "cachedResultName": "Final Concepts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Fq0fHdH8qL57jwSK_H7oKcaKg_XsUF2x0lvceiv60GA/edit#gid=1149670085"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "runId",
              "displayName": "runId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "runAt",
              "displayName": "runAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "oneLiner",
              "displayName": "oneLiner",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "targetCustomer",
              "displayName": "targetCustomer",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "problem",
              "displayName": "problem",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "solution",
              "displayName": "solution",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "revenueModel",
              "displayName": "revenueModel",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "goToMarket",
              "displayName": "goToMarket",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "unfairAdvantage",
              "displayName": "unfairAdvantage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "keyRisks",
              "displayName": "keyRisks",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "mutationApplied",
              "displayName": "mutationApplied",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "overallStrength",
              "displayName": "overallStrength",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "originality",
              "displayName": "originality",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "market",
              "displayName": "market",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "differentiation",
              "displayName": "differentiation",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "goToMarketScore",
              "displayName": "goToMarketScore",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "feasibility",
              "displayName": "feasibility",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "summary",
              "displayName": "summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "79e75ba7-b278-435d-b0c9-20e97504fbf3",
      "name": "Write to Final Concepts",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        5712,
        -1632
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "qyPt3FUHxVuvnsiP",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ── Rows come from the Google Sheets Read node upstream ──────────────────────\nconst sheetRows = items.map(i => i.json);\n\n// ── Build summaries list for injection into generation prompts ────────────────\nconst existingSummaries = sheetRows\n  .map(r => r.oneLiner || '')\n  .filter(Boolean);\n\n// ── Build normalized key set for dedup later ──────────────────────────────────\nconst existingKeys = sheetRows\n  .map(r => r.normalizedKey || '')\n  .filter(Boolean);\n\n// ── Pull triggerContext from the workflow trigger (passed by Arena parent) ─────\nconst triggerData = $('Team Runner Trigger').first().json || {};\nconst triggerContext = {\n  constraints: triggerData.constraints || {},\n  rubric: triggerData.rubric || {}\n};\n\nreturn [{ json: { existingSummaries, existingKeys, triggerContext } }];"
      },
      "id": "1111e6de-5a86-4121-ac1f-2145263d398a",
      "name": "Load Idea Bank1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -400,
        -1632
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Generate 3 unusual and diverse business ideas. Prioritize novelty and surprise — think contrarian, niche, or counterintuitive. Challenge assumptions about who the customer is or what the problem actually is. Avoid ideas that require a two-sided marketplace as a cold-start mechanism.\n\nIMPORTANT: The following ideas have already been generated — do NOT recreate or closely echo any of them:\n{{ JSON.stringify($json.existingSummaries) }}\n\nFor each idea return a JSON object with fields: oneLiner, targetCustomer, problem, revenueModel.\nContext: {{ JSON.stringify($json.triggerContext) }}\nReturn a JSON array of 3 objects.",
        "options": {}
      },
      "id": "6f56e021-5b33-489a-950c-8d8f79ba50c8",
      "name": "Generate Ideas — Model A1",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -128,
        -1632
      ]
    },
    {
      "parameters": {
        "model": "qwen/qwen3-235b-a22b-thinking-2507",
        "options": {}
      },
      "id": "a2a0e8f2-ce08-43e3-bd22-d1efa75a377c",
      "name": "ModelA — OpenRouter1",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -176,
        -1408
      ],
      "credentials": {
        "openRouterApi": {
          "id": "ShiEUo80gLBVCnMw",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $workflow.id }}-modelA"
      },
      "id": "38103af7-c2f0-4cb9-94ce-8db48d426380",
      "name": "Memory — Model A1",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -48,
        -1408
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Generate 3 alternative business ideas using trend collision and edge-case thinking. Use these creative lenses: (1) pair two unrelated macro trends, (2) underserved demographic pivots, (3) workflow unbundling — take one step of an existing workflow and make it a standalone business. Avoid ideas that require a two-sided marketplace as a cold-start mechanism.\n\nIMPORTANT: The following ideas have already been generated — do NOT recreate or closely echo any of them:\n{{ JSON.stringify($('Load Idea Bank1').item.json.existingSummaries) }}\n\nAlso avoid duplicating any of these ideas just generated by Model A:\n{{ $('Generate Ideas — Model A1').item.json.output }}\n\nFor each idea return a JSON object with fields: oneLiner, targetCustomer, problem, revenueModel.\nContext: {{ JSON.stringify($('Load Idea Bank1').item.json.triggerContext) }}\nReturn a JSON array of 3 objects.",
        "options": {}
      },
      "id": "643ef7ea-a49e-4a1e-9647-7a21a953804b",
      "name": "Generate Ideas — Model B1",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        352,
        -1632
      ]
    },
    {
      "parameters": {
        "model": "qwen/qwen3-235b-a22b-thinking-2507",
        "options": {}
      },
      "id": "bb4abb27-db96-4872-b91c-ffbc951c80cc",
      "name": "ModelB — OpenRouter1",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        288,
        -1408
      ],
      "credentials": {
        "openRouterApi": {
          "id": "ShiEUo80gLBVCnMw",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $workflow.id }}-modelB"
      },
      "id": "bba0f541-9dcf-4725-a285-3875e9800469",
      "name": "Memory — Model B1",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        416,
        -1408
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    modelAOutput: $('Generate Ideas — Model A1').first().json.output || '',\n    modelBOutput: $input.first().json.output || ''\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        752,
        -1632
      ],
      "id": "6f4f6075-56c9-4b26-a32e-14127782dc7d",
      "name": "Compile Outputs1"
    },
    {
      "parameters": {
        "jsCode": "// ── Inputs ────────────────────────────────────────────────────────────────────\nconst rawA = items[0]?.json?.modelAOutput || '';\nconst rawB = items[0]?.json?.modelBOutput || '';\n\n// ── Existing keys from Google Sheet (passed through Load Idea Bank) ───────────\nconst existingKeys = new Set($('Load Idea Bank1').first().json.existingKeys || []);\n\n// ── Parse JSON arrays from raw LLM output ────────────────────────────────────\nfunction parseIdeas(raw) {\n  if (!raw) return [];\n  try {\n    const match = raw.match(/\\[[\\s\\S]*\\]/);\n    if (!match) return [];\n    return JSON.parse(match[0]);\n  } catch (e) {\n    return [];\n  }\n}\n\n// ── Normalize for dedup comparison ───────────────────────────────────────────\nfunction normalizeKey(str) {\n  if (!str) return '';\n  return str\n    .toLowerCase()\n    .replace(/[^a-z0-9 ]/g, '')\n    .replace(/\\s+/g, ' ')\n    .trim();\n}\n\n// ── Combine and validate ──────────────────────────────────────────────────────\nconst combined = [...parseIdeas(rawA), ...parseIdeas(rawB)];\n\nconst validIdeas = combined.filter(i =>\n  i && typeof i === 'object' && typeof i.oneLiner === 'string' && i.oneLiner.trim()\n);\n\n// ── Within-run dedup + cross-run dedup against Sheet keys ────────────────────\nconst seen = new Set();\nconst deduped = [];\n\nfor (const idea of validIdeas) {\n  const key = normalizeKey(idea.oneLiner);\n  if (!key) continue;\n  if (seen.has(key) || existingKeys.has(key)) continue;\n  seen.add(key);\n  deduped.push({ ...idea, normalizedKey: key });\n}\n\n// ── Output ────────────────────────────────────────────────────────────────────\nreturn [{\n  json: {\n    ideas: deduped,\n    parsedFromA: parseIdeas(rawA).length,\n    parsedFromB: parseIdeas(rawB).length,\n    dedupedCount: deduped.length,\n  }\n}];"
      },
      "id": "50034c9e-24c2-40a1-85e2-903b5bd32c64",
      "name": "Dedupe & Normalize Ideas1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        976,
        -1632
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a startup market researcher. For each of the following business ideas, research and score them across 6 dimensions. Return ONLY a JSON array where each object contains all original idea fields PLUS a `research` object with these fields:\n\n- originality: { score: 0-10, existingBrands: [array of known competitors], notes: string }\n- marketSize: { score: 0-10, tamEstimate: string, problemPervasiveness: string, notes: string }\n- competitionDensity: { score: 0-10, numberOfKnownPlayers: string, marketLeaders: [array], successLevel: string, notes: string }\n- timing: { score: 0-10, trendDirection: 'rising|peak|declining', whyNow: string, recentUnlocks: string, notes: string }\n- pricingPower: { score: 0-10, comparableProductsPricing: string, willingnessToPay: string, notes: string }\n- distributionClarity: { score: 0-10, obviousFirstChannel: string, channelExists: boolean, notes: string }\n- regulatoryExposure: { riskLevel: 'low|medium|high', domains: [array of any regulated domains touched], feasibilityImpact: string }\n- talentAvailability: { score: 0-10, requiredSkills: [array], bottlenecks: string }\n- exitLandscape: { score: 0-10, likelyAcquirers: [array], recentAcquisitionsInSpace: string }\n\nAlso add a `researchSummary` string: 2 sentences on why this idea is or isn't well-positioned.\n\nIdeas to research:\n{{ JSON.stringify($('Dedupe & Normalize Ideas1').first().json.ideas) }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1648,
        -1632
      ],
      "id": "1268a7e4-c1d4-4758-ae37-0079585fee3f",
      "name": "Research Agent1"
    },
    {
      "parameters": {
        "model": "qwen/qwen3-vl-30b-a3b-thinking",
        "options": {}
      },
      "id": "7aabdb6a-be8c-48a4-9217-ab58f88a680a",
      "name": "Research — OpenRouter Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1664,
        -1408
      ],
      "credentials": {
        "openRouterApi": {
          "id": "ShiEUo80gLBVCnMw",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $workflow.id }}-research",
        "contextWindowLength": 2
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1792,
        -1408
      ],
      "id": "f8ff417a-6095-4f26-a6b7-874d4861c959",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.output || '';\n\nconst jsonStart = raw.indexOf('[');\nconst jsonEnd = raw.lastIndexOf(']');\n\nif (jsonStart === -1 || jsonEnd === -1) {\n  return [{ json: { researchedIdeas: [], parseError: 'No JSON array found in output' } }];\n}\n\nconst cleaned = raw\n  .slice(jsonStart, jsonEnd + 1)\n  .replace(/,(\\s*[}\\]])/g, '$1');\n\ntry {\n  const researchedIdeas = JSON.parse(cleaned);\n  return [{ json: { researchedIdeas } }];\n} catch(e) {\n  return [{ json: { researchedIdeas: [], parseError: e.message, rawSlice: cleaned.slice(0, 500) } }];\n}"
      },
      "id": "4f0b585d-6ff9-4e7b-8000-1b8920f0054b",
      "name": "Parse Research Results1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2000,
        -1632
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a competitive startup evaluator. Your goal is to identify the single idea most likely to WIN against a competing team — prioritize ideas that are novel, have real market pull, and can be built in 6 months with a $25,000 budget.\n\nScore each idea using these EXACT weights (must sum to 100):\n- Market urgency & size: 25 points\n- Originality / no dominant incumbent: 20 points\n- Feasibility within $25k / 6 months: 20 points\n- Differentiation / moat: 20 points\n- Distribution clarity (obvious first channel exists): 15 points\n\nFor each idea you have been provided research data covering: originality, market size, competition density, timing, pricing power, distribution clarity, regulatory exposure, talent availability, and exit landscape. Use this evidence — do NOT invent your own beliefs.\n\nReturn a JSON object with:\n- winner: the full idea object of the top pick\n- whyBest: string explaining why this idea wins based on the research\n- rankedList: array of all ideas ranked with fields { oneLiner, totalScore, scoreBreakdown: { marketUrgency, originality, feasibility, differentiation, distribution } }\n\nResearched Ideas:\n{{ JSON.stringify($json.researchedIdeas) }}"
      },
      "id": "c8912efb-270c-418e-b8c4-d00d48205674",
      "name": "Rank & Pick Top Idea1",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.6,
      "position": [
        2224,
        -1632
      ]
    },
    {
      "parameters": {
        "model": "qwen/qwen3-235b-a22b-thinking-2507",
        "options": {}
      },
      "id": "8108c3ed-b46f-4675-9f02-316183a625b1",
      "name": "PickTop — OpenRouter Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        2304,
        -1408
      ],
      "credentials": {
        "openRouterApi": {
          "id": "ShiEUo80gLBVCnMw",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a startup strategist. Expand this idea into a full structured business concept.\n\nReturn ONLY a JSON object with these fields:\n- name\n- oneLiner\n- targetCustomer\n- problem\n- solution\n- revenueModel\n- goToMarket\n- unfairAdvantage\n- keyRisks\n\nNo markdown. No explanation. Just the JSON object.\n\nIdea:\n{{ $json.output || $json.text }}"
      },
      "id": "907977df-1a4a-4efc-a00b-d31a0fa4fad5",
      "name": "Build Concept Packet1",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.6,
      "position": [
        2576,
        -1632
      ]
    },
    {
      "parameters": {
        "model": "qwen/qwen3-235b-a22b-thinking-2507",
        "options": {}
      },
      "id": "8ccf315e-c720-498e-94e2-e46fddec3a49",
      "name": "DraftConcept — OpenRouter Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        2656,
        -1408
      ],
      "credentials": {
        "openRouterApi": {
          "id": "ShiEUo80gLBVCnMw",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a brutal startup critic. Analyze this business concept and identify its fatal flaws.\n\nReturn ONLY a JSON object with these fields:\n- fatalAssumptions (array of strings)\n- weaknesses (array of strings)\n- suggestedFixes (array of strings)\n- weakestRubricAreas (array of strings — choose from: originality, market, differentiation, goToMarket, revenueModel, feasibility)\n\nNo markdown. No explanation. Just the JSON object.\n\nConcept:\n{{ $json.output || $json.text }}"
      },
      "id": "a7850b47-ad85-4410-b3a8-0758ad0f1d9a",
      "name": "Self Critic1",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.6,
      "position": [
        2928,
        -1632
      ]
    },
    {
      "parameters": {
        "model": "qwen/qwen3-235b-a22b-thinking-2507",
        "options": {}
      },
      "id": "fa28b3cd-2e8b-4b5e-90f2-78fb816a10e5",
      "name": "SelfCritic — OpenRouter Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        3008,
        -1408
      ],
      "credentials": {
        "openRouterApi": {
          "id": "ShiEUo80gLBVCnMw",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a startup strategist. Using the critique below, repair and strengthen this business concept. Address every fatal assumption and weakness listed. If a fatal assumption cannot be resolved with a minor fix, pivot the core idea rather than papering over it — substantive repairs only.\n\nReturn ONLY the full updated concept as a JSON object with these fields:\n- name, oneLiner, targetCustomer, problem, solution, revenueModel, goToMarket, unfairAdvantage, keyRisks\n\nNo markdown. No explanation. Just the JSON object.\n\nCritique:\n{{ $json.output || $json.text }}\n\nOriginal Concept (from prior step — incorporate all suggested fixes):\n{{ $('Build Concept Packet1').item.json.output || $('Build Concept Packet1').item.json.text }}"
      },
      "id": "906566f8-873f-4cf2-b60b-58ca0a2168b1",
      "name": "Repair Concept1",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.6,
      "position": [
        3280,
        -1632
      ]
    },
    {
      "parameters": {
        "model": "qwen/qwen3-235b-a22b-thinking-2507",
        "options": {}
      },
      "id": "069391c1-83fe-4c11-a7be-34b4ebbc96e4",
      "name": "RepairConcept — OpenRouter Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        3360,
        -1408
      ],
      "credentials": {
        "openRouterApi": {
          "id": "ShiEUo80gLBVCnMw",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const opts = ['ICP', 'pricing', 'channel', 'scope', 'keyFeature'];\nconst mutation = opts[Math.floor(Math.random() * opts.length)];\nconst conceptText = $input.first().json.text;\nreturn [{ json: { mutation, conceptText } }];"
      },
      "id": "ed41698f-4682-4294-9029-a9cf43215c39",
      "name": "Draw Mutation1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3632,
        -1632
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a creative startup strategist. Apply a '{{ $json.mutation }}' mutation to this business concept — meaningfully change that dimension to explore a stronger variant.\n\nBefore applying, assess whether this mutation improves the concept's competitive position or feasibility within a $25k budget and 6-month timeline. If this mutation would weaken the concept, apply it conservatively and explain the tradeoff in a `mutationNote` field.\n\nReturn ONLY the full updated concept as a JSON object with fields: name, oneLiner, targetCustomer, problem, solution, revenueModel, goToMarket, unfairAdvantage, keyRisks, mutationNote.\n\nCurrent Concept:\n{{ $json.conceptText }}"
      },
      "id": "4882a456-a348-4ec9-b278-220941d8669e",
      "name": "Apply Mutation1",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.6,
      "position": [
        3856,
        -1632
      ]
    },
    {
      "parameters": {
        "model": "qwen/qwen3-235b-a22b-thinking-2507",
        "options": {}
      },
      "id": "c100313c-90d4-417d-9832-b79dd554a62b",
      "name": "ApplyMutation — OpenRouter Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        3936,
        -1408
      ],
      "credentials": {
        "openRouterApi": {
          "id": "ShiEUo80gLBVCnMw",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a skeptical VC partner evaluating a bootstrapped startup with a $25,000 budget and 6-month runway. Ruthlessly evaluate this concept by answering these 10 deal-killer questions with in-depth reasoning that is calibrated to this budget and timeline — not Series A scale:\n\n1. Why will this fail?\n2. Who already does this better?\n3. Why would customers not pay?\n4. What is the CAC and is it sustainable at $25k total spend?\n5. What is the moat?\n6. Why this team (and can it be executed solo or with contractors)?\n7. What kills this in year 2?\n8. What is the regulatory risk?\n9. What does the unit economics look like at MVP scale (first 100 customers)?\n10. What is the exit path and who are realistic acquirers?\n\nReturn ONLY a JSON array of 10 objects each with fields: question, answer.\n\nConcept:\n{{ $json.output || $json.text }}"
      },
      "id": "d368ee19-4f9f-4602-b115-13c7cf85761d",
      "name": "VC Assassin1",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.6,
      "position": [
        4208,
        -1632
      ]
    },
    {
      "parameters": {
        "model": "qwen/qwen3-235b-a22b-thinking-2507",
        "options": {}
      },
      "id": "18b535d1-e30c-486b-b868-42510ea78f1d",
      "name": "VCAssassin — OpenRouter Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        4288,
        -1408
      ],
      "credentials": {
        "openRouterApi": {
          "id": "ShiEUo80gLBVCnMw",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const vcQA = $input.first().json.text;\nconst mutatedConcept = $('Apply Mutation1').first().json.text;\nreturn [{ json: { vcQA, mutatedConcept } }];"
      },
      "id": "3e92f3d8-4411-4f01-9542-1569997e1f26",
      "name": "Merge VC + Concept1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4560,
        -1632
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a startup strategist. A VC has just performed a brutal assassination of this business concept. Your job is to respond to every one of their 10 criticisms and produce an improved, hardened version of the concept that directly addresses each deal-killer.\n\nFor each VC question:\n- If the concern is resolvable, explain how the concept addresses it and update the concept accordingly\n- If the concern reveals a structural flaw, pivot that element of the concept rather than papering over it\n\nReturn ONLY a JSON object with fields:\n- concept: { name, oneLiner, targetCustomer, problem, solution, revenueModel, goToMarket, unfairAdvantage, keyRisks }\n- vcResponses: array of { question, originalConcern, response, conceptChange } for each of the 10 VC questions\n\nNo markdown. No explanation. Just the JSON object.\n\nOriginal Concept:\n{{ $json.mutatedConcept }}\n\nVC Assassination Q&A:\n{{ $json.vcQA }}"
      },
      "id": "d4d348f1-cfc0-4de7-9bef-677db851c834",
      "name": "Respond to VC Assassination1",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.6,
      "position": [
        4784,
        -1632
      ]
    },
    {
      "parameters": {
        "model": "qwen/qwen3-235b-a22b-thinking-2507",
        "options": {}
      },
      "id": "3f918927-699a-4bb7-81eb-837115be4cb6",
      "name": "VCRespond — OpenRouter Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        4864,
        -1408
      ],
      "credentials": {
        "openRouterApi": {
          "id": "ShiEUo80gLBVCnMw",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a meticulous analyst. Compile the final arena submission packet from the hardened concept and its full VC response history.\n\nScore rubric — use EXACTLY these weights, they must sum to 100:\n- market (0-25): Is the market large, urgent, and willing to pay?\n- originality (0-20): Is this idea novel with no dominant incumbent?\n- feasibility (0-20): Can this realistically be built in 6 months on $25k?\n- differentiation (0-20): Does it have a clear unfair advantage or moat?\n- distribution (0-15): Is there a clear, realistic first channel and distribution path?\n\nReturn ONLY a JSON object with fields:\n- concept (the full hardened concept object from the VC response)\n- vcQA (array of {question, answer} from the original VC assassination)\n- vcResponses (array of {question, originalConcern, response, conceptChange})\n- overallStrength (integer 0-100, sum of rubric scores)\n- rubricScores: { market, originality, feasibility, differentiation, distribution }\n- summary (2-sentence pitch suitable for arena submission)\n\nNo markdown. No explanation. Just the JSON object.\n\nHardened Concept + VC Responses:\n{{ $json.output || $json.text }}"
      },
      "id": "aca3771a-d4f3-492f-806b-e3791cc8671f",
      "name": "Finalize Packet1",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.6,
      "position": [
        5136,
        -1632
      ]
    },
    {
      "parameters": {
        "model": "qwen/qwen3-235b-a22b-thinking-2507",
        "options": {}
      },
      "id": "ea184c70-c085-4dd1-83aa-a6afb18cf653",
      "name": "Finalize — OpenRouter Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        5216,
        -1408
      ],
      "credentials": {
        "openRouterApi": {
          "id": "ShiEUo80gLBVCnMw",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "query": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Query', ``, 'string') }}",
        "additionalParameters": {
          "country": "US",
          "search_lang": "en",
          "result_filter": [
            "summarizer"
          ],
          "goggles": []
        }
      },
      "id": "ad4b266a-357d-44a8-a653-98289afe2b09",
      "name": "Web Search - Model B1",
      "type": "@brave/n8n-nodes-brave-search.braveSearchTool",
      "typeVersion": 1,
      "position": [
        544,
        -1408
      ],
      "credentials": {
        "braveSearchApi": {
          "id": "GovdHNl4WyQt3JAE",
          "name": "Brave Search account"
        }
      }
    },
    {
      "parameters": {
        "query": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Query', ``, 'string') }}",
        "additionalParameters": {
          "country": "US",
          "search_lang": "en",
          "result_filter": [
            "summarizer"
          ],
          "goggles": []
        }
      },
      "id": "3dc0519b-6f74-4208-84d1-d3ef431210ee",
      "name": "Web Search — Model A1",
      "type": "@brave/n8n-nodes-brave-search.braveSearchTool",
      "typeVersion": 1,
      "position": [
        80,
        -1408
      ],
      "credentials": {
        "braveSearchApi": {
          "id": "GovdHNl4WyQt3JAE",
          "name": "Brave Search account"
        }
      }
    },
    {
      "parameters": {},
      "id": "bd9d9c93-7f95-4a07-9758-bc64e4f9efad",
      "name": "Team Runner Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -848,
        -1632
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Read Idea Bank Sheet": {
      "main": [
        [
          {
            "node": "Load Idea Bank1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Idea Bank Rows": {
      "main": [
        [
          {
            "node": "Write to Idea Bank",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write to Idea Bank": {
      "main": [
        [
          {
            "node": "Research Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Final Concept Row": {
      "main": [
        [
          {
            "node": "Write to Final Concepts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Idea Bank1": {
      "main": [
        [
          {
            "node": "Generate Ideas — Model A1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Ideas — Model A1": {
      "main": [
        [
          {
            "node": "Generate Ideas — Model B1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ModelA — OpenRouter1": {
      "ai_languageModel": [
        [
          {
            "node": "Generate Ideas — Model A1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Memory — Model A1": {
      "ai_memory": [
        [
          {
            "node": "Generate Ideas — Model A1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Generate Ideas — Model B1": {
      "main": [
        [
          {
            "node": "Compile Outputs1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ModelB — OpenRouter1": {
      "ai_languageModel": [
        [
          {
            "node": "Generate Ideas — Model B1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Memory — Model B1": {
      "ai_memory": [
        [
          {
            "node": "Generate Ideas — Model B1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Compile Outputs1": {
      "main": [
        [
          {
            "node": "Dedupe & Normalize Ideas1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dedupe & Normalize Ideas1": {
      "main": [
        [
          {
            "node": "Prep Idea Bank Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Research Agent1": {
      "main": [
        [
          {
            "node": "Parse Research Results1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Research — OpenRouter Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Research Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Research Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Parse Research Results1": {
      "main": [
        [
          {
            "node": "Rank & Pick Top Idea1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rank & Pick Top Idea1": {
      "main": [
        [
          {
            "node": "Build Concept Packet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PickTop — OpenRouter Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Rank & Pick Top Idea1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Build Concept Packet1": {
      "main": [
        [
          {
            "node": "Self Critic1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DraftConcept — OpenRouter Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Build Concept Packet1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Self Critic1": {
      "main": [
        [
          {
            "node": "Repair Concept1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SelfCritic — OpenRouter Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Self Critic1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Repair Concept1": {
      "main": [
        [
          {
            "node": "Draw Mutation1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RepairConcept — OpenRouter Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Repair Concept1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Draw Mutation1": {
      "main": [
        [
          {
            "node": "Apply Mutation1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apply Mutation1": {
      "main": [
        [
          {
            "node": "VC Assassin1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ApplyMutation — OpenRouter Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Apply Mutation1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "VC Assassin1": {
      "main": [
        [
          {
            "node": "Merge VC + Concept1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "VCAssassin — OpenRouter Model1": {
      "ai_languageModel": [
        [
          {
            "node": "VC Assassin1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Merge VC + Concept1": {
      "main": [
        [
          {
            "node": "Respond to VC Assassination1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to VC Assassination1": {
      "main": [
        [
          {
            "node": "Finalize Packet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "VCRespond — OpenRouter Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Respond to VC Assassination1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Finalize Packet1": {
      "main": [
        [
          {
            "node": "Prep Final Concept Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Finalize — OpenRouter Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Finalize Packet1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Web Search - Model B1": {
      "ai_tool": [
        [
          {
            "node": "Generate Ideas — Model B1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Web Search — Model A1": {
      "ai_tool": [
        [
          {
            "node": "Generate Ideas — Model A1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Team Runner Trigger": {
      "main": [
        [
          {
            "node": "Read Idea Bank Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "1255f4e2-e8b5-4c01-8f67-27e37167eca1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d1ad3f4f440ce23f8275e30c2127c8c2fe97bf83a4534f480ec0c7a54495b806"
  },
  "id": "44q3twpOWG797oot",
  "tags": []
}
