Team A
{
  "name": "Team A",
  "nodes": [
    {
      "parameters": {},
      "id": "e9085268-375a-426c-9f7a-018c72dc8ea4",
      "name": "Team Runner Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        3984,
        -1056
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1Fq0fHdH8qL57jwSK_H7oKcaKg_XsUF2x0lvceiv60GA",
          "mode": "list",
          "cachedResultName": "IdeaRepo",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Fq0fHdH8qL57jwSK_H7oKcaKg_XsUF2x0lvceiv60GA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Idea Bank",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Fq0fHdH8qL57jwSK_H7oKcaKg_XsUF2x0lvceiv60GA/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "normalizedKey"
            }
          ]
        },
        "options": {}
      },
      "id": "7adfb620-7a1a-465a-b64b-6bb64ca90501",
      "name": "Read Idea Bank Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        4192,
        -1072
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ── Shape one row per deduplicated idea for Google Sheets append ──────────────\nconst ideas = $('Dedupe & Normalize Ideas1').first().json.ideas || [];\nconst runId = $execution.id;\nconst addedAt = new Date().toISOString();\n\nif (ideas.length === 0) {\n  // Return a no-op item so the workflow doesn't stall\n  return [{ json: { skipped: true, reason: 'No new ideas to write' } }];\n}\n\nreturn ideas.map(idea => ({\n  json: {\n    normalizedKey: idea.normalizedKey,\n    oneLiner: idea.oneLiner,\n    addedAt,\n    runId,\n  }\n}));"
      },
      "id": "acb9d865-66de-49d1-8364-fce59ea20e20",
      "name": "Prep Idea Bank Rows",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6016,
        -1072
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1Fq0fHdH8qL57jwSK_H7oKcaKg_XsUF2x0lvceiv60GA",
          "mode": "list",
          "cachedResultName": "IdeaRepo",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Fq0fHdH8qL57jwSK_H7oKcaKg_XsUF2x0lvceiv60GA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Idea Bank",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Fq0fHdH8qL57jwSK_H7oKcaKg_XsUF2x0lvceiv60GA/edit#gid=0"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "normalizedKey",
              "displayName": "normalizedKey",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "oneLiner",
              "displayName": "oneLiner",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "addedAt",
              "displayName": "addedAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "runId",
              "displayName": "runId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "9efc5904-a095-44fa-b292-2cfb47b81e67",
      "name": "Write to Idea Bank",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        6240,
        -1072
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = items[0]?.json?.output || items[0]?.json?.text || '';\nconst tryParse = (v) => { try { return JSON.parse(v); } catch { return null; } };\nlet p = tryParse(raw);\nif (!p) {\n  const a = String(raw).indexOf('{'); const b = String(raw).lastIndexOf('}');\n  if (a >= 0 && b > a) p = tryParse(String(raw).slice(a, b + 1));\n}\nif (!p || typeof p !== 'object' || !p.concept || typeof p.concept !== 'object') throw new Error('Finalize packet parse failed.');\nconst c = p.concept;\nconst r = p.rubricScores || {};\nconst num = (v) => Number.isFinite(Number(v)) ? Number(v) : 0;\nconst personaSet = Array.isArray(p.personaSet) ? p.personaSet : [];\nconst signalTheses = Array.isArray(p.signalTheses) ? p.signalTheses : [];\nconst decisionRiskFlags = Array.isArray(p.decisionRiskFlags) ? p.decisionRiskFlags : [];\nconst vcQA = Array.isArray(p.vcQA) ? p.vcQA : [];\nconst vcResponses = Array.isArray(p.vcResponses) ? p.vcResponses : [];\nreturn [{ json: {\n  runId: $execution.id,\n  runAt: new Date().toISOString(),\n  name: c.name || '',\n  oneLiner: c.oneLiner || '',\n  targetCustomer: c.targetCustomer || '',\n  problem: c.problem || '',\n  solution: c.solution || '',\n  revenueModel: c.revenueModel || '',\n  goToMarket: c.goToMarket || '',\n  unfairAdvantage: c.unfairAdvantage || '',\n  keyRisks: c.keyRisks || '',\n  mutationApplied: $('Draw Mutation1').first().json.mutation || '',\n  overallStrength: num(p.overallStrength),\n  market: num(r.market),\n  originality: num(r.originality),\n  feasibility: num(r.feasibility),\n  differentiation: num(r.differentiation),\n  goToMarketScore: num(r.distribution),\n  summary: p.summary || '',\n  teamStrategy: p.teamStrategy || $('Load Idea Bank1').first().json.teamStrategy || '',\n  personaSet: JSON.stringify(personaSet),\n  personaRationale: p.personaRationale || '',\n  signalTheses: JSON.stringify(signalTheses),\n  noveltyScore: num(p.noveltyScore),\n  confidenceScore: num(p.confidenceScore),\n  horizonBucket: p.horizonBucket || 'barbell',\n  evidenceCoverage: num(p.evidenceCoverage),\n  decisionRiskFlags: JSON.stringify(decisionRiskFlags),\n  parseStatus: 'validated',\n  vcQA: JSON.stringify(vcQA),\n  vcResponses: JSON.stringify(vcResponses)\n}}];"
      },
      "id": "c0fa72db-a319-40f9-9819-c8d44489b887",
      "name": "Prep Final Concept Row",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        10416,
        -1072
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1Fq0fHdH8qL57jwSK_H7oKcaKg_XsUF2x0lvceiv60GA",
          "mode": "list",
          "cachedResultName": "IdeaRepo",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Fq0fHdH8qL57jwSK_H7oKcaKg_XsUF2x0lvceiv60GA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1149670085,
          "mode": "list",
          "cachedResultName": "Final Concepts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Fq0fHdH8qL57jwSK_H7oKcaKg_XsUF2x0lvceiv60GA/edit#gid=1149670085"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "runId",
              "displayName": "runId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "runAt",
              "displayName": "runAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "oneLiner",
              "displayName": "oneLiner",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "targetCustomer",
              "displayName": "targetCustomer",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "problem",
              "displayName": "problem",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "solution",
              "displayName": "solution",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "revenueModel",
              "displayName": "revenueModel",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "goToMarket",
              "displayName": "goToMarket",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "unfairAdvantage",
              "displayName": "unfairAdvantage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "keyRisks",
              "displayName": "keyRisks",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "mutationApplied",
              "displayName": "mutationApplied",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "overallStrength",
              "displayName": "overallStrength",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "originality",
              "displayName": "originality",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "market",
              "displayName": "market",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "differentiation",
              "displayName": "differentiation",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "goToMarketScore",
              "displayName": "goToMarketScore",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "feasibility",
              "displayName": "feasibility",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "summary",
              "displayName": "summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "teamStrategy",
              "displayName": "teamStrategy",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "personaSet",
              "displayName": "personaSet",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "personaRationale",
              "displayName": "personaRationale",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "signalTheses",
              "displayName": "signalTheses",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "noveltyScore",
              "displayName": "noveltyScore",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "confidenceScore",
              "displayName": "confidenceScore",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "horizonBucket",
              "displayName": "horizonBucket",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "evidenceCoverage",
              "displayName": "evidenceCoverage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "decisionRiskFlags",
              "displayName": "decisionRiskFlags",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "parseStatus",
              "displayName": "parseStatus",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "vcQA",
              "displayName": "vcQA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "vcResponses",
              "displayName": "vcResponses",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "591224c1-929f-4898-bcd9-f21412353c0e",
      "name": "Write to Final Concepts",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        10640,
        -1072
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const rows = items.map(i => i.json || {});\nconst existingSummaries = rows.map(r => r.oneLiner || '').filter(Boolean);\nconst existingKeys = rows.map(r => r.normalizedKey || '').filter(Boolean);\nconst t = $('Team Runner Trigger').first().json || {};\nreturn [{ json: {\n  existingSummaries,\n  existingKeys,\n  triggerContext: { constraints: t.constraints || {}, rubric: t.rubric || {}, confidenceThreshold: t.confidenceThreshold || 70 },\n  teamStrategy: t.teamStrategy || 'inventor_lab',\n  teamLabel: t.teamLabel || 'A',\n  assignedPersonas: t.assignedPersonas || [],\n  runSeed: String(t.runSeed || $execution.id),\n  personaPoolVersion: t.personaPoolVersion || 'v2.1'\n}}];"
      },
      "id": "fffca082-999d-49a6-888b-a4523cf8ecd2",
      "name": "Load Idea Bank1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4416,
        -1072
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are Team A (Inventor Lab). Focus on science-push and category-creation ideas.\nUse persona cards as principles, not writing style mimicry.\nTeam strategy: {{ $json.teamStrategy }}\nAssigned personas: {{ JSON.stringify($json.assignedPersonas) }}\nSignal theses: {{ JSON.stringify($json.signalTheses) }}\nAvoid prior ideas: {{ JSON.stringify($json.existingSummaries) }}\nGenerate 4 ideas. At least 2 must be linked to science/technical unlocks.\nReturn ONLY JSON array fields: oneLiner,targetCustomer,problem,revenueModel,signalRefs,noveltyHypothesis,horizonBucket,personaRationale",
        "options": {}
      },
      "id": "e36e14f2-bb19-4ce1-9aa4-c5d6b37402f3",
      "name": "Generate Ideas — Model A1",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        4704,
        -1072
      ]
    },
    {
      "parameters": {
        "model": "qwen/qwen3-235b-a22b-thinking-2507",
        "options": {}
      },
      "id": "53f4a20f-eec8-4cca-aa74-357eaa13ea1c",
      "name": "ModelA — OpenRouter1",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        4640,
        -848
      ],
      "credentials": {
        "openRouterApi": {
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $workflow.id }}-modelA"
      },
      "id": "70103484-0969-4566-a4dd-0908230eccdc",
      "name": "Memory — Model A1",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        4768,
        -848
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Team A second pass with different thought paths from Model A.\nUse trend-collision and frontier edge cases.\nTeam strategy: {{ $('Load Idea Bank1').item.json.teamStrategy }}\nAssigned personas: {{ JSON.stringify($('Load Idea Bank1').item.json.assignedPersonas) }}\nSignal theses: {{ JSON.stringify($('Parse Signal Theses1').item.json.signalTheses) }}\nPrior ideas: {{ JSON.stringify($('Load Idea Bank1').item.json.existingSummaries) }}\nModel A output: {{ $('Generate Ideas ? Model A1').item.json.output }}\nReturn ONLY JSON array fields: oneLiner,targetCustomer,problem,revenueModel,signalRefs,noveltyHypothesis,horizonBucket,personaRationale",
        "options": {}
      },
      "id": "22c1c5f2-d2b6-4cbd-aaf0-96b7b46fcf29",
      "name": "Generate Ideas — Model B1",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        5168,
        -1072
      ]
    },
    {
      "parameters": {
        "model": "qwen/qwen3-235b-a22b-thinking-2507",
        "options": {}
      },
      "id": "62b3df53-c199-459c-87eb-04477b16b3f2",
      "name": "ModelB — OpenRouter1",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        5104,
        -848
      ],
      "credentials": {
        "openRouterApi": {
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $workflow.id }}-modelB"
      },
      "id": "407e4341-b0a9-406a-b63e-d3a57f69ce28",
      "name": "Memory — Model B1",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        5232,
        -848
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    modelAOutput: $('Generate Ideas — Model A1').first().json.output || '',\n    modelBOutput: $input.first().json.output || ''\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5568,
        -1072
      ],
      "id": "51bcfa48-c0c7-42bb-b0c2-a9525047e5e8",
      "name": "Compile Outputs1"
    },
    {
      "parameters": {
        "jsCode": "const rawA = items[0]?.json?.modelAOutput || '';\nconst rawB = items[0]?.json?.modelBOutput || '';\nconst bank = $('Load Idea Bank1').first().json || {};\nconst existingKeys = new Set(bank.existingKeys || []);\nconst existingSummaries = bank.existingSummaries || [];\nconst norm = (s) => String(s || '').toLowerCase().replace(/[^a-z0-9 ]/g,'').replace(/\\s+/g,' ').trim();\nconst tryParse = (v) => { try { return JSON.parse(v); } catch { return null; } };\nconst parseIdeas = (raw, label) => {\n  let p = tryParse(raw);\n  if (!p) {\n    const a = String(raw || '').indexOf('['); const b = String(raw || '').lastIndexOf(']');\n    if (a >= 0 && b > a) p = tryParse(String(raw).slice(a, b + 1));\n  }\n  if (!Array.isArray(p)) throw new Error('Idea parse failed: ' + label);\n  return p;\n};\nconst tok = (s) => new Set(norm(s).split(' ').filter(Boolean));\nconst jac = (a,b) => { if (!a.size || !b.size) return 0; let o = 0; for (const t of a) if (b.has(t)) o++; return o / (a.size + b.size - o); };\nconst ideas = [...parseIdeas(rawA,'A'), ...parseIdeas(rawB,'B')].filter(i => i && typeof i.oneLiner === 'string' && i.oneLiner.trim());\nconst existingTok = existingSummaries.map(tok);\nconst pickedTok = [];\nconst seen = new Set();\nconst out = [];\nlet semanticDrops = 0;\nfor (const idea of ideas) {\n  const key = norm(idea.oneLiner);\n  if (!key || seen.has(key) || existingKeys.has(key)) continue;\n  const t = tok(idea.oneLiner);\n  if (existingTok.some(x => jac(t,x) >= 0.8) || pickedTok.some(x => jac(t,x) >= 0.85)) { semanticDrops++; continue; }\n  seen.add(key); pickedTok.push(t); out.push({ ...idea, normalizedKey: key });\n}\nif (!out.length) throw new Error('No ideas survived hybrid dedup.');\nreturn [{ json: { ideas: out, parsedFromA: parseIdeas(rawA,'A').length, parsedFromB: parseIdeas(rawB,'B').length, dedupedCount: out.length, semanticDrops } }];"
      },
      "id": "520b0e4d-8995-4b97-b3c9-a3497caeff14",
      "name": "Dedupe & Normalize Ideas1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5792,
        -1072
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are Team A research analyst. Use web tools to evaluate each idea.\nInference is allowed but must lower confidence.\nTeam strategy: {{ $('Load Idea Bank1').item.json.teamStrategy }}\nAssigned personas: {{ JSON.stringify($('Load Idea Bank1').item.json.assignedPersonas) }}\nSignal theses: {{ JSON.stringify($('Parse Signal Theses1').item.json.signalTheses) }}\nReturn ONLY JSON array. Each idea must include research plus:\nnoveltyScore, confidenceScore, evidenceCoverage, horizonBucket, researchSummary.\nIdeas: {{ JSON.stringify($('Dedupe & Normalize Ideas1').first().json.ideas) }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        6528,
        -1072
      ],
      "id": "2c44918e-6105-4d9f-bf2d-19d080227591",
      "name": "Research Agent1"
    },
    {
      "parameters": {
        "model": "qwen/qwen3-vl-30b-a3b-thinking",
        "options": {}
      },
      "id": "fe9a6fa4-32f5-44f3-9dc2-9bae669470ba",
      "name": "Research — OpenRouter Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        6464,
        -848
      ],
      "credentials": {
        "openRouterApi": {
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $workflow.id }}-research",
        "contextWindowLength": 2
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        6592,
        -848
      ],
      "id": "9bbad965-5bbd-400b-9bdc-ba0b89ac1e52",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.output || $input.first().json.text || '';\nconst tryParse = (v) => { try { return JSON.parse(v); } catch { return null; } };\nlet p = tryParse(raw);\nlet repaired = false;\nif (!p) {\n  const a = String(raw).indexOf('['); const b = String(raw).lastIndexOf(']');\n  if (a >= 0 && b > a) { p = tryParse(String(raw).slice(a, b + 1)); repaired = !!p; }\n}\nif (!Array.isArray(p)) throw new Error('Research output is not valid JSON array.');\nconst out = p.filter(i => i && typeof i.oneLiner === 'string').map(i => ({\n  ...i,\n  noveltyScore: Number.isFinite(Number(i.noveltyScore)) ? Number(i.noveltyScore) : 0,\n  confidenceScore: Number.isFinite(Number(i.confidenceScore)) ? Number(i.confidenceScore) : 0,\n  evidenceCoverage: Number.isFinite(Number(i.evidenceCoverage)) ? Number(i.evidenceCoverage) : 0,\n  horizonBucket: i.horizonBucket || 'barbell'\n}));\nif (!out.length) throw new Error('No valid researched ideas after parse.');\nreturn [{ json: { researchedIdeas: out, parseRepairUsed: repaired } }];"
      },
      "id": "f56bb653-27ca-415e-b6c9-62dcea7ce47f",
      "name": "Parse Research Results1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6928,
        -1072
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are Team A invention committee. Pick one winner with asymmetric upside.\nWeighting: breakthrough leverage 30, novelty defensibility 25, market urgency 15, feasibility 15, distribution 15.\nUse evidence from research and signal theses.\nTeam strategy: {{ $('Load Idea Bank1').item.json.teamStrategy }}\nPersona cards: {{ JSON.stringify($('Load Idea Bank1').item.json.assignedPersonas) }}\nSignal theses: {{ JSON.stringify($('Parse Signal Theses1').item.json.signalTheses) }}\nReturn ONLY JSON object fields:\nwinner, whyBest, personaRationale, decisionRiskFlags, noveltyScore, confidenceScore, evidenceCoverage, horizonBucket, rankedList\nResearched Ideas: {{ JSON.stringify($json.researchedIdeas) }}"
      },
      "id": "8c8454fd-d039-4b4e-994b-a33de652ce51",
      "name": "Rank & Pick Top Idea1",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.6,
      "position": [
        7152,
        -1072
      ]
    },
    {
      "parameters": {
        "model": "qwen/qwen3-235b-a22b-thinking-2507",
        "options": {}
      },
      "id": "ef141a75-a9c8-42a3-b8d7-b4b9e46a2dac",
      "name": "PickTop — OpenRouter Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        7232,
        -848
      ],
      "credentials": {
        "openRouterApi": {
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Expand this selected winner idea into startup concept JSON fields: name, oneLiner, targetCustomer, problem, solution, revenueModel, goToMarket, unfairAdvantage, keyRisks.\nWinning idea: {{ JSON.stringify($json.winnerIdea || {}) }}"
      },
      "id": "e2d0c548-e252-445b-b74c-4564dd29deec",
      "name": "Build Concept Packet1",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.6,
      "position": [
        7504,
        -1072
      ]
    },
    {
      "parameters": {
        "model": "qwen/qwen3-235b-a22b-thinking-2507",
        "options": {}
      },
      "id": "754525d3-7b88-4cdc-b7c2-69efa219247b",
      "name": "DraftConcept — OpenRouter Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        7584,
        -848
      ],
      "credentials": {
        "openRouterApi": {
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a brutal startup critic. Analyze this business concept and identify its fatal flaws.\n\nReturn ONLY a JSON object with these fields:\n- fatalAssumptions (array of strings)\n- weaknesses (array of strings)\n- suggestedFixes (array of strings)\n- weakestRubricAreas (array of strings — choose from: originality, market, differentiation, goToMarket, revenueModel, feasibility)\n\nNo markdown. No explanation. Just the JSON object.\n\nConcept:\n{{ $json.output || $json.text }}"
      },
      "id": "4f535349-027f-45f4-94c1-2bb305685f7f",
      "name": "Self Critic1",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.6,
      "position": [
        7856,
        -1072
      ]
    },
    {
      "parameters": {
        "model": "qwen/qwen3-235b-a22b-thinking-2507",
        "options": {}
      },
      "id": "c21c9934-8efc-49ca-b33f-672ea7c83d1e",
      "name": "SelfCritic — OpenRouter Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        7936,
        -848
      ],
      "credentials": {
        "openRouterApi": {
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a startup strategist. Using the critique below, repair and strengthen this business concept. Address every fatal assumption and weakness listed. If a fatal assumption cannot be resolved with a minor fix, pivot the core idea rather than papering over it — substantive repairs only.\n\nReturn ONLY the full updated concept as a JSON object with these fields:\n- name, oneLiner, targetCustomer, problem, solution, revenueModel, goToMarket, unfairAdvantage, keyRisks\n\nNo markdown. No explanation. Just the JSON object.\n\nCritique:\n{{ $json.output || $json.text }}\n\nOriginal Concept (from prior step — incorporate all suggested fixes):\n{{ $('Build Concept Packet1').item.json.output || $('Build Concept Packet1').item.json.text }}"
      },
      "id": "4710c11e-249f-4251-96ef-0ada795c60b8",
      "name": "Repair Concept1",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.6,
      "position": [
        8208,
        -1072
      ]
    },
    {
      "parameters": {
        "model": "qwen/qwen3-235b-a22b-thinking-2507",
        "options": {}
      },
      "id": "db0646fa-6132-41fe-9ba7-efae1184cc90",
      "name": "RepairConcept — OpenRouter Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        8288,
        -848
      ],
      "credentials": {
        "openRouterApi": {
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const opts = ['ICP','pricing','channel','scope','keyFeature'];\nconst src = $input.first().json || {};\nconst conceptText = src.output || src.text || '';\nconst seed = String($('Load Idea Bank1').first().json.runSeed || $execution.id);\nlet h = 2166136261;\nconst s = seed + '|' + conceptText;\nfor (let i = 0; i < s.length; i++) { h ^= s.charCodeAt(i); h = Math.imul(h, 16777619); }\nconst mutation = opts[(h >>> 0) % opts.length];\nreturn [{ json: { mutation, conceptText, mutationSeed: seed } }];"
      },
      "id": "fe736faa-b992-4f58-ad41-4ac57991c52c",
      "name": "Draw Mutation1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        8560,
        -1072
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a creative startup strategist. Apply a '{{ $json.mutation }}' mutation to this business concept — meaningfully change that dimension to explore a stronger variant.\n\nBefore applying, assess whether this mutation improves the concept's competitive position or feasibility within a $25k budget and 6-month timeline. If this mutation would weaken the concept, apply it conservatively and explain the tradeoff in a `mutationNote` field.\n\nReturn ONLY the full updated concept as a JSON object with fields: name, oneLiner, targetCustomer, problem, solution, revenueModel, goToMarket, unfairAdvantage, keyRisks, mutationNote.\n\nCurrent Concept:\n{{ $json.conceptText }}"
      },
      "id": "b8020b61-1317-458e-b803-1f249c28f6f8",
      "name": "Apply Mutation1",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.6,
      "position": [
        8784,
        -1072
      ]
    },
    {
      "parameters": {
        "model": "qwen/qwen3-235b-a22b-thinking-2507",
        "options": {}
      },
      "id": "99dd53a2-ce18-45d8-b4b6-ac2953dd0bf0",
      "name": "ApplyMutation — OpenRouter Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        8864,
        -848
      ],
      "credentials": {
        "openRouterApi": {
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a skeptical VC partner evaluating a bootstrapped startup with a $25,000 budget and 6-month runway. Ruthlessly evaluate this concept by answering these 10 deal-killer questions with in-depth reasoning that is calibrated to this budget and timeline — not Series A scale:\n\n1. Why will this fail?\n2. Who already does this better?\n3. Why would customers not pay?\n4. What is the CAC and is it sustainable at $25k total spend?\n5. What is the moat?\n6. Why this team (and can it be executed solo or with contractors)?\n7. What kills this in year 2?\n8. What is the regulatory risk?\n9. What does the unit economics look like at MVP scale (first 100 customers)?\n10. What is the exit path and who are realistic acquirers?\n\nReturn ONLY a JSON array of 10 objects each with fields: question, answer.\n\nConcept:\n{{ $json.output || $json.text }}"
      },
      "id": "5c4a8e1d-f291-42ea-86b7-249cc7af6acd",
      "name": "VC Assassin1",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.6,
      "position": [
        9136,
        -1072
      ]
    },
    {
      "parameters": {
        "model": "qwen/qwen3-235b-a22b-thinking-2507",
        "options": {}
      },
      "id": "69236257-9825-4ef2-b6ac-4abffad07159",
      "name": "VCAssassin — OpenRouter Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        9216,
        -848
      ],
      "credentials": {
        "openRouterApi": {
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const vc = $input.first().json || {};\nconst vcQA = vc.output || vc.text || '';\nconst mut = $('Apply Mutation1').first().json || {};\nconst mutatedConcept = mut.output || mut.text || '';\nreturn [{ json: { vcQA, mutatedConcept } }];"
      },
      "id": "5a8efe54-a220-478f-ac56-a487b24adf5b",
      "name": "Merge VC + Concept1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        9488,
        -1072
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a startup strategist. A VC has just performed a brutal assassination of this business concept. Your job is to respond to every one of their 10 criticisms and produce an improved, hardened version of the concept that directly addresses each deal-killer.\n\nFor each VC question:\n- If the concern is resolvable, explain how the concept addresses it and update the concept accordingly\n- If the concern reveals a structural flaw, pivot that element of the concept rather than papering over it\n\nReturn ONLY a JSON object with fields:\n- concept: { name, oneLiner, targetCustomer, problem, solution, revenueModel, goToMarket, unfairAdvantage, keyRisks }\n- vcResponses: array of { question, originalConcern, response, conceptChange } for each of the 10 VC questions\n\nNo markdown. No explanation. Just the JSON object.\n\nOriginal Concept:\n{{ $json.mutatedConcept }}\n\nVC Assassination Q&A:\n{{ $json.vcQA }}"
      },
      "id": "38d62b49-a3c0-488f-9da5-e48f16593ded",
      "name": "Respond to VC Assassination1",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.6,
      "position": [
        9712,
        -1072
      ]
    },
    {
      "parameters": {
        "model": "qwen/qwen3-235b-a22b-thinking-2507",
        "options": {}
      },
      "id": "a26d8a9d-b01e-4ca4-8848-8bba66d75a39",
      "name": "VCRespond — OpenRouter Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        9792,
        -848
      ],
      "credentials": {
        "openRouterApi": {
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Compile the final team packet in neutral, principle-grounded style.\nReturn ONLY JSON with fields:\nconcept, vcQA, vcResponses, overallStrength, rubricScores, summary,\nteamStrategy, personaSet, personaRationale, signalTheses,\nnoveltyScore, confidenceScore, horizonBucket, evidenceCoverage, decisionRiskFlags.\nteamStrategy={{ $('Load Idea Bank1').item.json.teamStrategy }}\npersonaSet={{ JSON.stringify(($('Load Idea Bank1').item.json.assignedPersonas || []).map(p => p.id)) }}\npersonaRationale={{ $('Parse Ranked Winner1').item.json.rankingMeta.personaRationale }}\nsignalTheses={{ JSON.stringify($('Parse Signal Theses1').item.json.signalTheses) }}\nrankingMeta={{ JSON.stringify($('Parse Ranked Winner1').item.json.rankingMeta) }}\noriginalVCQA={{ $('Merge VC + Concept1').item.json.vcQA }}\nNeutralized hardened concept:\n{{ $json.output || $json.text }}"
      },
      "id": "8df6f4a8-a3ff-4986-ab2e-2fbe1efac15a",
      "name": "Finalize Packet1",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.6,
      "position": [
        10064,
        -1072
      ]
    },
    {
      "parameters": {
        "model": "qwen/qwen3-235b-a22b-thinking-2507",
        "options": {}
      },
      "id": "38376904-74c5-4966-86bc-bb6619f315dd",
      "name": "Finalize — OpenRouter Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        10144,
        -848
      ],
      "credentials": {
        "openRouterApi": {
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "query": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Query', ``, 'string') }}",
        "additionalParameters": {
          "country": "US",
          "search_lang": "en",
          "result_filter": [
            "summarizer"
          ],
          "goggles": []
        }
      },
      "id": "d2ee03c8-5000-4411-a681-e7944fe2b602",
      "name": "Web Search - Model B1",
      "type": "@brave/n8n-nodes-brave-search.braveSearchTool",
      "typeVersion": 1,
      "position": [
        5360,
        -848
      ],
      "credentials": {
        "braveSearchApi": {
          "name": "Brave Search account"
        }
      }
    },
    {
      "parameters": {
        "query": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Query', ``, 'string') }}",
        "additionalParameters": {
          "country": "US",
          "search_lang": "en",
          "result_filter": [
            "summarizer"
          ],
          "goggles": []
        }
      },
      "id": "bea0d833-cf46-4595-bc82-251b772fab91",
      "name": "Web Search — Model A1",
      "type": "@brave/n8n-nodes-brave-search.braveSearchTool",
      "typeVersion": 1,
      "position": [
        4896,
        -848
      ],
      "credentials": {
        "braveSearchApi": {
          "name": "Brave Search account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Scout emerging opportunity signals from science breakthroughs, trend shifts, and competitive gaps.\nUse tools and return ONLY JSON array of 6 objects with fields:\nid, signalType, horizonBucket, claim, opportunityHint, sourceUrl, signalDate, evidenceConfidence.\nTeam strategy: {{ $json.teamStrategy }}\nAssigned personas: {{ JSON.stringify($json.assignedPersonas) }}\nContext: {{ JSON.stringify($json.triggerContext) }}",
        "options": {}
      },
      "id": "a8d9c043-f84e-4aab-9b70-5a616d5b90c1",
      "name": "Signal Scout1",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        4560,
        -1296
      ]
    },
    {
      "parameters": {
        "model": "qwen/qwen3-235b-a22b-thinking-2507",
        "options": {}
      },
      "id": "af53f5d1-7be2-4542-bfd9-0e2c6be1b8d4",
      "name": "SignalScout - OpenRouter Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        4496,
        -1088
      ],
      "credentials": {
        "openRouterApi": {
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.output || $input.first().json.text || '';\nconst tryParse = (v) => { try { return JSON.parse(v); } catch { return null; } };\nlet p = tryParse(raw);\nif (!p) {\n  const a = String(raw).indexOf('['); const b = String(raw).lastIndexOf(']');\n  if (a >= 0 && b > a) p = tryParse(String(raw).slice(a, b + 1));\n}\nif (!Array.isArray(p)) throw new Error('Signal scout parse failed.');\nconst theses = p.filter(s => s && typeof s === 'object').map((s,i) => ({\n  id: s.id || ('signal_' + (i + 1)),\n  signalType: s.signalType || 'trend',\n  horizonBucket: s.horizonBucket || 'barbell',\n  claim: s.claim || '',\n  opportunityHint: s.opportunityHint || '',\n  sourceUrl: s.sourceUrl || '',\n  signalDate: s.signalDate || '',\n  evidenceConfidence: Number.isFinite(Number(s.evidenceConfidence)) ? Number(s.evidenceConfidence) : 50\n})).filter(s => s.claim && s.opportunityHint);\nif (!theses.length) throw new Error('No usable signal theses.');\nconst base = $('Load Idea Bank1').first().json || {};\nreturn [{ json: { ...base, signalTheses: theses } }];"
      },
      "id": "ab6d7df1-6f7b-4789-9b45-3ec9d6e078ab",
      "name": "Parse Signal Theses1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4784,
        -1296
      ]
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.output || $input.first().json.text || '';\nconst tryParse = (v) => { try { return JSON.parse(v); } catch { return null; } };\nlet p = tryParse(raw);\nif (!p) {\n  const a = String(raw).indexOf('{'); const b = String(raw).lastIndexOf('}');\n  if (a >= 0 && b > a) p = tryParse(String(raw).slice(a, b + 1));\n}\nif (!p || typeof p !== 'object' || !p.winner || typeof p.winner !== 'object') throw new Error('Rank winner parse failed.');\nconst num = (v) => Number.isFinite(Number(v)) ? Number(v) : 0;\nreturn [{ json: {\n  winnerIdea: p.winner,\n  rankingMeta: {\n    whyBest: p.whyBest || '',\n    personaRationale: p.personaRationale || '',\n    decisionRiskFlags: Array.isArray(p.decisionRiskFlags) ? p.decisionRiskFlags : [],\n    noveltyScore: num(p.noveltyScore),\n    confidenceScore: num(p.confidenceScore),\n    evidenceCoverage: num(p.evidenceCoverage),\n    horizonBucket: p.horizonBucket || 'barbell',\n    rankedList: Array.isArray(p.rankedList) ? p.rankedList : []\n  }\n}}];"
      },
      "id": "aa3e24ab-8f59-4f9c-8b8d-68dcabf8cf4a",
      "name": "Parse Ranked Winner1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7360,
        -1072
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Remove persona-style language and keep principle-grounded content only.\nReturn ONLY JSON with fields: concept, vcResponses, voiceAudit.\nInput: {{ $json.output || $json.text }}"
      },
      "id": "ad64e05b-27c2-4f37-a42f-6d0e9d5c2f6f",
      "name": "Neutralize Persona Voice1",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.6,
      "position": [
        9968,
        -1072
      ]
    },
    {
      "parameters": {
        "model": "qwen/qwen3-235b-a22b-thinking-2507",
        "options": {}
      },
      "id": "a2ae2ba0-6f39-46bf-b6a1-bf71062ef942",
      "name": "NeutralizePersona - OpenRouter Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        10048,
        -848
      ],
      "credentials": {
        "openRouterApi": {
          "name": "OpenRouter account"
        }
      }
    }
  ],
  "pinData": {
    "Team Runner Trigger": [
      {
        "json": {},
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Team Runner Trigger": {
      "main": [
        [
          {
            "node": "Read Idea Bank Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Idea Bank Sheet": {
      "main": [
        [
          {
            "node": "Load Idea Bank1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Idea Bank Rows": {
      "main": [
        [
          {
            "node": "Write to Idea Bank",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write to Idea Bank": {
      "main": [
        [
          {
            "node": "Research Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Final Concept Row": {
      "main": [
        [
          {
            "node": "Write to Final Concepts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Idea Bank1": {
      "main": [
        [
          {
            "node": "Signal Scout1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Ideas — Model A1": {
      "main": [
        [
          {
            "node": "Generate Ideas — Model B1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ModelA — OpenRouter1": {
      "ai_languageModel": [
        [
          {
            "node": "Generate Ideas — Model A1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Memory — Model A1": {
      "ai_memory": [
        [
          {
            "node": "Generate Ideas — Model A1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Generate Ideas — Model B1": {
      "main": [
        [
          {
            "node": "Compile Outputs1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ModelB — OpenRouter1": {
      "ai_languageModel": [
        [
          {
            "node": "Generate Ideas — Model B1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Memory — Model B1": {
      "ai_memory": [
        [
          {
            "node": "Generate Ideas — Model B1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Compile Outputs1": {
      "main": [
        [
          {
            "node": "Dedupe & Normalize Ideas1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dedupe & Normalize Ideas1": {
      "main": [
        [
          {
            "node": "Prep Idea Bank Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Research Agent1": {
      "main": [
        [
          {
            "node": "Parse Research Results1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Research — OpenRouter Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Research Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Research Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Parse Research Results1": {
      "main": [
        [
          {
            "node": "Rank & Pick Top Idea1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rank & Pick Top Idea1": {
      "main": [
        [
          {
            "node": "Parse Ranked Winner1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PickTop — OpenRouter Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Rank & Pick Top Idea1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Build Concept Packet1": {
      "main": [
        [
          {
            "node": "Self Critic1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DraftConcept — OpenRouter Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Build Concept Packet1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Self Critic1": {
      "main": [
        [
          {
            "node": "Repair Concept1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SelfCritic — OpenRouter Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Self Critic1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Repair Concept1": {
      "main": [
        [
          {
            "node": "Draw Mutation1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RepairConcept — OpenRouter Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Repair Concept1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Draw Mutation1": {
      "main": [
        [
          {
            "node": "Apply Mutation1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apply Mutation1": {
      "main": [
        [
          {
            "node": "VC Assassin1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ApplyMutation — OpenRouter Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Apply Mutation1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "VC Assassin1": {
      "main": [
        [
          {
            "node": "Merge VC + Concept1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "VCAssassin — OpenRouter Model1": {
      "ai_languageModel": [
        [
          {
            "node": "VC Assassin1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Merge VC + Concept1": {
      "main": [
        [
          {
            "node": "Respond to VC Assassination1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to VC Assassination1": {
      "main": [
        [
          {
            "node": "Neutralize Persona Voice1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "VCRespond — OpenRouter Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Respond to VC Assassination1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Finalize Packet1": {
      "main": [
        [
          {
            "node": "Prep Final Concept Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Finalize — OpenRouter Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Finalize Packet1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Web Search - Model B1": {
      "ai_tool": [
        [
          {
            "node": "Signal Scout1",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Research Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Web Search — Model A1": {
      "ai_tool": [
        [
          {
            "node": "Signal Scout1",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Research Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Signal Scout1": {
      "main": [
        [
          {
            "node": "Parse Signal Theses1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Signal Theses1": {
      "main": [
        [
          {
            "node": "Generate Ideas — Model A1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Ranked Winner1": {
      "main": [
        [
          {
            "node": "Build Concept Packet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Neutralize Persona Voice1": {
      "main": [
        [
          {
            "node": "Finalize Packet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SignalScout - OpenRouter Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Signal Scout1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "NeutralizePersona - OpenRouter Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Neutralize Persona Voice1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "1e440b9c-b270-4d19-92b4-796d156ac422",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d1ad3f4f440ce23f8275e30c2127c8c2fe97bf83a4534f480ec0c7a54495b806"
  },
  "id": "44q3twpOWG797oot",
  "tags": []
}
